<header class="bg-300 text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <img id="logo" class="HEADERlOGO text-white" src="{{ asset('images/Bouge tonCampsTransparent.png') }}" alt="Mon Logo">
            <span class="titleDateHome ml-3" style="font-size: 20px">@{{ "mettre pseudo" }}</span>
        </a>
        <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a href="{{ path('app_home') }}" class="hoverheaderbuttons  mr-10" style="font-size: 20px">Home</a>
            <a  class="hoverheaderbuttons mr-10" href="{{ path('app_allSorties') }}" style="font-size: 20px">Liste d'activités</a>
            <a href="{{ path('sortie_form') }}" class="hoverheaderbuttons  mr-10" style="font-size: 20px">Proposer une activité</a>
            <!---{% if app.user.roles == 'ROLE_ADMIN' %}-->
                <a href="{{ path('ville_form') }}" class="hoverheaderbuttons  mr-10" style="font-size: 20px">Creer une ville</a>
            <!---{% endif %}-->
            <a class="hoverheaderbuttons mr-10" style="font-size: 20px">Profil</a>
        </nav>
        {% if app.user %}
            <a href="{{ path('app_logout') }}" class="boutonconnect inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                Déconnexion
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </a>
        {% else %}
            <div class="inline-flex items-center bg-gray-100 border-0 py-1 px-3 focus:outline-none hover:bg-gray-200 rounded text-base mt-4 md:mt-0">
                <a href="{{ path('app_login') }}" class="boutonconnect">
                    Connexion
                </a>
                <span class="mx-2">/</span>
                <a href="{{ path('app_register') }}" class="boutonconnect">
                    Inscription
                </a>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                    <path d="M5 12h14M12 5l7 7-7 7"></path>
                </svg>
            </div>
        {% endif %}
    </div>
</header>