{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <div class="container mx-auto flex px-5 py-24 justify-center items-center">
        <div class="top-4 left-0 pr-8">
          <img src="{{ photoProfile ? asset(photoProfile) : asset('images/user/default_user_img.webp')}}"  alt="test" class="rounded-full mx-auto">
        </div>
        <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
            <h1 class="text-2xl font-bold mb-6 text-center">Mon profil</h1>
            {{ form_start(ProfilForm, {'attr': {'data-turbo': 'false'}}) }}
            
                <div class="error">
                    {{form_errors(ProfilForm.pseudo)}}  
                </div>
                <div class="mb-4">
                    {{ form_label(ProfilForm.pseudo, 'Pseudo :', {'label_attr': {'class': 'block text-gray-700'}}) }}
                    {{ form_widget(ProfilForm.pseudo, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>

                <div class="error">
                    {{form_errors(ProfilForm.mail)}}  
                </div>
                <div class="mb-4">
                    {{ form_label(ProfilForm.mail, 'E-mail :', {'label_attr': {'class': 'block text-gray-700'}}) }}
                    {{ form_widget(ProfilForm.mail, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>

                <div class="error">
                    {{form_errors(ProfilForm.nom)}}  
                </div>
                <div class="mb-4">
                    {{ form_label(ProfilForm.nom, 'Nom :', {'label_attr': {'class': 'block text-gray-700'}}) }}
                    {{ form_widget(ProfilForm.nom, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>

                <div class="error">
                    {{form_errors(ProfilForm.prenom)}}
                </div>
                <div class="mb-4">
                    {{ form_label(ProfilForm.prenom, 'Prénom :', {'label_attr': {'class': 'block text-gray-700'}}) }}
                    {{ form_widget(ProfilForm.prenom, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>

                <div class="error">
                    {{form_errors(ProfilForm.telephone)}}  
                </div>
                <div class="mb-4">
                    {{ form_label(ProfilForm.telephone, 'Téléphone :', {'label_attr': {'class': 'block text-gray-700'}}) }}
                    {{ form_widget(ProfilForm.telephone, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>

                <div class="error">
                    {{form_errors(ProfilForm.mot_de_passe)}}
                </div>
                <div class="mb-4">
                    {{ form_label(ProfilForm.mot_de_passe.first, 'Mot de passe : ', {'label_attr': {'class': 'block text-gray-700'}}) }}
                    {{ form_widget(ProfilForm.mot_de_passe.first, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg 
                        focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>

                <div class="mb-4">
                    {{ form_label(ProfilForm.mot_de_passe.second,'Confirmez votre mot de passe : ', {'label_attr': {'class': 'block text-gray-700 '}}) }}
                    {{ form_widget(ProfilForm.mot_de_passe.second, {'attr': {'class': 'w-full px-3 py-2 border rounded-lg 
                        focus:outline-none focus:ring-2 focus:ring-blue-500'}}) }}
                </div>
                <div class="mb-4">
                    <label for="site_id" class="block text-gray-700">Site :</label>
                    <select class="w-full px-3 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" id="site_id" name="site_id">
                        {% for site in sites %}
                            {% if site.id == user.site.id %}
                                <option value="{{ site.id }}" selected>{{ site.nomSite }}</option>
                            {% else %}
                                <option value="{{ site.id }}">{{ site.nomSite }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="relative mb-4">
                    <label for="{{ field_name(ProfilForm.image) }}" class="leading-7 colorChampsForm mb-10">Photo de profil</label>
                    <input type="file"
                        id="{{ field_name(ProfilForm.image) }}"
                        name="{{ field_name(ProfilForm.image) }}"
                        value="{{ field_value(ProfilForm.image) }}"
                    >
                </div>
                <button type="submit" class="w-full bg-gray-600 text-white py-2 rounded-lg
                     hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-25">Modifier</button>
            {{ form_end(ProfilForm) }} <br>
            <div class="mb-4 content-center ml-16 my-2">
            <a href="{{ path('app_home') }}" class="w-full  bg-gray-600 text-white px-24 py-2 rounded-lg
                     hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-opacity-25">Annuler</a>
            </div>
        </div>
    </div>
        
    </div>
{% endblock %}
