{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}


{% block body %}
    <link rel="stylesheet" href="{{ asset('css/allSorties.css') }}">


    <div class="main-container">
        <form method="GET" action="{{ path('app_allSorties') }}">
            <div class="search-container">
                <div class="search-container-part1">
                    <span class="title-search">Filtrer les sorties</span>
                    <div class="site-container">
                        <label for="site">Choix du site :</label>
                        <select id="site" name="site" class="sites">
                            <option value="">aucun</option>
                            {% for site in sites %}
                                <option value="{{ site.id }}" {% if site.id == site_selected %} selected {% endif %}>{{ site.nomSite }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="name-container">
                        <label for="name-title">le nom de la sortie contient : </label>
                        <div class="name-container-search">
                            <img id="logo" class="img-icon h-4 w-4" src="{{ asset('images/search-icon.png') }}" alt="Mon Logo">
                            <input type="text" id="name" name="recherche" class="name-input" value="{{ recherche ? recherche : "" }}" placeholder="search" maxlength="30">
                        </div>
                    </div>

                    <div class="date-container">
                        <span>Entre </span>
                        <input type="date" id="dateStart" name="dateStart" class="date-calendar" value="{{ dateStart }}">
                        <span>et </span>
                        <input type="date" id="dateEnd" name="dateEnd" class="date-calendar" value="{{ dateEnd }}">
                    </div>

                </div>
                <div class="search-container-part2">
                    <div class="checkbox-container">
                        <label>
                            <input type="checkbox" name="mesSorties" value="1" {% if mesSorties %}checked{% endif %}>
                            Sorties dont je suis l'organisateur/trice
                        </label>
                        <label>
                            <input type="checkbox" name="mesInscriptions" value="1" {% if mesInscriptions %}checked{% endif %}>
                            Sorties auxquelles je suis inscrit/e
                        </label>
                        <label>
                            <input type="checkbox" name="pasMesInscriptions" value="1" {% if pasMesInscriptions %}checked{% endif %}>
                            Sorties auxquelles je ne suis pas inscrit/e
                        </label>
                        <label>
                            <input type="checkbox" name="sortiesFinies" value="1" {% if sortiesFinies %}checked{% endif %}>
                            Sorties passées
                        </label>
                    </div>
                    <div class="search-button-container">
                        <button type="submit" class="search-button">RECHERCHER</button>
                    </div>
                    <div class="details-container">
                        <p>{{  'Date du jour : ' ~ "now"|date("d/m/Y") }} </p>
                        <p>{{ 'Participant : ' ~ utilisateur }}</p>
                    </div>
                </div>
            </div>
            <a href="{{ path('app_allSorties') }}" class="reset-button">RÉINITIALISER</a>
        </form>
        <div class="cards-container">
            {% if sorties is not empty %}
                {% for sortie in sorties %}
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">{{ sortie.nomSortie }}</h2>
                            <div class="container-img">
                                <img id="image-sortie" class="img-sortie " src="{{ sortie.urlPhoto ?  asset(sortie.urlPhoto) : asset('images/image-base.png') }}" alt="{{ 'image sortie ' ~ sortie.nomSortie }}">
                            </div>
                            </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <p><strong>Date de début :</strong> {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('Y-m-d H:i') : 'Non définie' }}</p>
                                    <p><strong>Durée :</strong> {{ sortie.duree ? sortie.duree ~' heure(s)': 'Non définie' }}</p>
                                    <p><strong>Date de fin :</strong> {{ sortie.dateHeureFin ? sortie.dateHeureFin|date('Y-m-d H:i') : 'Non définie' }}</p>
                                </div>
                                <div class="col">
                                    <p>
                                        <strong>Clôture :</strong>
                                        {% if sortie.dateClotureInscription %}
                                            {% set now = "now"|date("Y-m-d H:i") %}
                                            {% set closureDate = sortie.dateClotureInscription|date("Y-m-d H:i") %}
                                            {% set diff = (closureDate|date("U") - now|date("U")) // 86400 %}

                                            {{ diff > 0 ? 'dans ' ~ diff ~ ' jours'  }}
                                            {{ diff == 0 ? 'Aujourd\'hui' }}
                                            {{ diff < 0 ? 'fini depuis ' ~  diff|abs ~ ' jours' }}
                                            ({{ sortie.dateClotureInscription|date('Y-m-d H:i') }})
                                        {% else %}
                                            Non définie
                                        {% endif %}
                                    </p>

                                    <p><strong>Inscrits/Places : </strong>{{ sortie.nbIncriptionsMax ~ ' place(s)' }} </p>
                                </div>
                            </div>
                            <p><strong>État : </strong> {{sortie.etat.libelle}}</p>
                            <p><strong>lieu : </strong> {{sortie.lieu.nomLieu}}</p>
                            <p><strong>Organisateur :</strong>
                                <a href="#" class="organisateur-link" onclick="openModal()">
                                    {{ sortie.organisateur.nom ~ ' ' ~ sortie.organisateur.prenom }}
                                </a>
                            </p>
                            <p><strong>Site organisateur : </strong> {{sortie.siteOrganisateur.nomSite }}</p>


                            </div>
                            <div class="bouton-container">
                                <div class="card-footer">
                                    <a href="{{ path('app_details_sorties', {id: sortie.id}) }}" class="btn btn-outline-primary btn-sm">Voir les détails</a>
                                </div>
                                {% if sortie in sortiesSubscrible %}
                                    <a href="{{ path('app_inscription', {name: 's\'inscrire', idSortie: sortie.id })  }}" class="buttons inscription">REJOINDRE</a>
                                {% endif %}
                                {% if sortie in sortiesSubscription %}
                                    <a href="{{ path('app_inscription', {name: 'se desinscrire', idSortie: sortie.id }) }}" class="buttons desinscription">QUITTER</a>
                                {% endif %}

                                {% if sortie in sortiesModifiable %}
                                <a href="{{ path('app_modifier_sortie', {id: sortie.id}) }}" class="boutonModifier">MODIFIER</a>
                                {% endif %}

                                    {% if sortie.dateHeureDebut > now %}
                                        {% if sortie in sortiesAnnulable %}
                                            <form action="{{ path('app_annuler_sortie', {id: sortie.id}) }}" method="post" onsubmit="return confirm('Êtes-vous sûr de vouloir annuler cette sortie ?');" class="delete-form">
                                                <input type="hidden" name="_token" value="{{ csrf_token('annuler' ~ sortie.id) }}">
                                                <button type="submit" class="buttons boutonDelete">ANNULER</button>
                                            </form>
                                        {% endif %}
                                    {% endif %}
                            {% if sortie in mesSortiesCreer %}
                            <a href="{{ path('app_publier_sortie', { idSortie: sortie.id })  }}" class="buttons boutonPublier">PUBLIER</a>
                            {% endif %}

                        </div>

                        <div id="organisateurModal" class="modal">
                            <div class="modal-content">
                                <span class="close" onclick="closeModal()">&times;</span>
                                <h2>Informations sur l'organisateur</h2>
                                <p><strong>Nom :</strong> {{ sortie.organisateur.nom }}</p>
                                <p><strong>Prénom :</strong> {{ sortie.organisateur.prenom }}</p>
                                <p><strong>Email :</strong> {{ sortie.organisateur.mail }}</p>
                                <p><strong>Téléphone :</strong> {{ sortie.organisateur.telephone }}</p>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            {% else %}
                <p>Aucune sortie disponible.</p>
            {% endif %}
        </div>
    </div>
    <script>
        function openModal() {
            event.preventDefault();
            document.getElementById("organisateurModal").style.display = "block";
        }

        function closeModal() {
            document.getElementById("organisateurModal").style.display = "none";
        }

        window.onclick = function(event) {
            var modal = document.getElementById("organisateurModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}
